@page "/products/{ProductId:guid}"
@inject ICatalog Catalog
@inject NavigationManager NavigationManager

<h3>@_product.Name</h3>

<div>@Product.Description</div>
<div>Цена: @Product.Price</div>
<div>Дата производства: @Product.ProducedAt</div>
<div>Срок годности: @Product.ExpiredAt</div>
<div>Наличие на складе: @Product.Stock</div>

<button @onclick="AddToCart">Добавить в корзину</button>

<div>@_product.ToString()</div>

@code {
    [Parameter]
    public Guid ProductId { get; set; }
    private Product _product;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _product = await Catalog.GetProductByIdAsync(ProductId);
    }
    private void NavigateToProductPage(Guid productId)
    {
        NavigationManager.NavigateTo($"/products/{productId}");
    }
    private void AddToCart()
    {
        
    }
}
